:root{
  --black: #171A1C;
  --light-black: #22282A;
  --dark-grey: #2F3335;
  --grey: #CFCFCF;
  --white: #FFFFFF;
  --form: #757575;
}

@font-face {
  font-family: 'Montserrat';
  src:url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

html{
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

h1{
  font-size: 10vh;
  font-weight: bold;
  letter-spacing: 0.2vw;
  color: var(--black);
}

h2{
  font-size: 6vh;
  font-weight: normal;
  letter-spacing: 0.4vw;
  color: var(--light-black);
}

h3{
  font-size: 3.4vh;
  font-weight: bold;
  letter-spacing: 0.1vw;
  color: var(--dark-grey);
}

h4{
  font-size: 2.8vh;
  font-weight: normal;
  color: var(--light-black);
}

h5{
  font-size: 2.2vh;
  font-weight: normal;
  color: var(--black);
}

header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80vw;
  height: 20vh;
  margin: 0 10vw;
  z-index: 1 !important;
}

header .logo{
  display: flex;
  align-items: center;
}

header .logo img{
  height: 10vh;
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
}

nav ul{
  display: flex;
  justify-content: space-between;
  display: inline-block;
}

nav ul li{
  float: left;
  padding-left: 6.2vw;
  list-style-type: none;
}

a{
  font-size: 2.3vh;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  color: var(--dark-grey);
}

a:hover{
  color: var(--black);
}

a::after{
  content: '';
  display: block;
  width: 0;
  height: 0.4vh;
  margin-top: 0.6vh;
  background: var(--black);
  transition: width .4s;
}

a:hover::after{
  width: 100%;
  color: var(--black);
}

.container{
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.wrapper{
  display: block;
  width: 80vw;
  height: 100vh;
  margin:0 auto;
  scroll-snap-align: start;
  background-color: var(--white);
}

.heading{
  margin-top: 24vh;
}

.role{
  margin-top: 2vh;
}

.presentation{
  float: right;
  width: 42vw;
  margin-top: 4vh;
}

.skills-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 12vh;
}

.skill img{
  width: 12vw;
  height: 12vh;
}

.skill h4{
  font-weight: bold;
  margin-top: 2vh;
}

.projects-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 12vh;
}

.project img{
  width: 16vw;
  height: 100%;
  display: block;
  object-fit: contain;
}

.project h4{
  font-weight: bold;
  text-align: center;
  margin-top: 2vh;
}

.contacts-container{
  display: flex;
  align-items: flex-end;
  gap: 10vw;
}

.form-container{
  width: 60vw;
  margin-top: 4vh;
}

label{
  display: none !important;
}

input{
  width: 100%;
  height: 6.2vh;
  margin: 2.8vh 0;
  font-size: 2.8vh;
  color: var(--light-black);
  border: none;
  resize: none;
  border-bottom: 0.4vh solid var(--light-black);
}

input:focus{
  background-color: var(--white);
  color: var(--black);
}

input:active{
  background-color: var(--white);
  color: var(--black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active, {
  transition: background-color 5000s ease-in-out 0s;
}

input:focus::placeholder, textarea:focus::placeholder{
  color: transparent;
}

*:focus {
  outline: none;
}

textarea{
  width: 100%;
  height: 14vh;
  margin: 2.8vh 0;
  padding-bottom: 1vh;
  font-size: 2.8vh;
  display: block;
  color: var(--light-black);
  border: none;
  resize: none;
  border-bottom: 0.4vh solid var(--light-black);
  overflow-y: scroll;
}

textarea::-webkit-scrollbar{
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

button{
  width: 100%;
  height: 8vh;
  font-size: 3.4vh;
  letter-spacing: 1vw;
  color: var(--light-black);
  border: none;
  border: 0.4vh solid var(--light-black);
  background-color: var(--white);
}

button:hover{
  color: var(--white);
  background-color: var(--black);
  transition:  .4s;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 50vw;
}

.contacts-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 8vh;
}

.contact{
  display: flex;
  align-items: flex-end;
  height: 5.6vh;
}

.contact img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {

  .heading{
    margin-top: 20vh;
  }

  .presentation{
    margin-top: 8vh;
  }

  .contacts-container{
    flex-direction: column;
    gap:2.8vh;
  }

  .form-container{
    width: 100%;
    margin-top: 0;
  }

  footer{
    width: 100%;
  }

}

@media only screen and (max-width: 835px){

  h1{
    font-size: 9vh;
  }

  nav{
    display: none;
  }

  .wrapper{
    width: 90vw;
  }


  header{
    width: 90vw;
    height: 16vh;
    margin: 0 5vw;
  }

  header .logo img{
    height: 9vh;
    width: 100%;
  }

  .heading{
    margin-top: 18vh;
  }

  .presentation{
    width: 100%;
  }

  .skills-container{
  flex-direction: column;
  gap:4vh;
  margin-top: 2vh;
  }

  .skill h4{
  margin-top: 0;
  }

  .skill img{
    width: 10vw;
    height: 10vh;
  }

  .projects-container{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vh;
    margin-top: 6vh;
  }

  .project{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25vw;
  }

  .project img{
    width: 24vw;
    height: 100%;
  }

  .project h4{
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }


  .contacts-container{
    flex-direction: column;
    gap: 6vh;
  }

  .contacts h1{
    font-size: 8vh;
  }
}

@media only screen and (max-width: 768px){



}

@media only screen and (max-width: 480px){

  h1{
    font-size: 8vh;
    font-weight: bold;
    letter-spacing: 0.2vw;
    color: var(--black);
  }

  h2{
    font-size: 5.4vh;
    font-weight: normal;
    letter-spacing: 0.4vw;
    color: var(--light-black);
  }

  .contacts h1{
    font-size: 7.2vh;
  }

  .contacts-container{
    flex-direction: column;
    gap: 10vh;
  }

}

@media only screen and (max-width: 464px){
  .contacts h1{
    font-size: 6.4vh;
  }
}

@media only screen and (max-width: 428px){
  header .logo img{
    height: 8vh;
    width: 100%;
  }

  .skills-container{
  gap:3.6vh;
  }

  .skill img{
    width: 12vw;
    height: 12vh;
  }

  .skill h4{
    margin-top: -1vh;
  }

  .projects-container{
    gap: 8vh;
  }

  .project{
    gap: 20vw;
  }

  .project img{
    width: 30vw;
    height: 100%;
  }

  .contacts h1{
    font-size: 5.6vh;
  }

  .contact{
    height: 5.2vh;
  }


}

@media only screen and (max-width: 412px){

  h1{
    font-size: 7.2vh;
  }

  .skill img{
    width: 12vw;
    height: 12vh;
  }

  .skills-container{
    gap: 4vh;
  }

  .skill h4{
    margin-top: -2vh;
  }


}

@media only screen and (max-width: 384px){



}







/*
@media only screen and (min-width: 428px) and (max-width: 926px) {

} */











/*@media only screen and (max-width: 1024px){

.heading{
margin-top: 20vh;
}

.presentation{
margin-top: 8vh;
}

.contacts-container{
flex-direction: column;
gap:2.8vh;
}

.form-container{
width: 100%;
margin-top: 0;
}

footer{
width: 100%;
}

}

@media only screen and (max-width: 768px){

nav{
display: none;
}

.presentation{
width: 100%;
}

}


@media only screen and (max-width: 580px){

.wrapper{
width: 90vw;
}

header{
width: 90vw;
margin: 0 5vw;
}

.contacts h1{
font-size: 9.2vh;
}

}

@media only screen and (max-width: 472px){

.contacts h1{
font-size: 8.6vh;
}
}

@media only screen and (max-width: 446px){

.contacts h1{
font-size: 8vh;
}

.skills-container{
flex-direction: column;
gap:4vh;
margin-top: 0;
}

.skill img{
width: 10vw;
height: 10vh;
}

.skill h4{
margin-top: 0vh;
}

.projects-container{
flex-direction: column;
align-items: flex-start;
}
}

@media only screen and (max-width: 430px){

h1{
font-size: 8.6vh;
}

header .logo img{
height: 8.6vh;
width: 100%;
}

.contacts h1{
font-size: 7.4vh;
}

}

@media only screen and (max-width: 384px){

.contacts h1{
font-size: 6.8vh;
}
}

@media only screen and (max-width: 350px){

.contacts h1{
font-size: 6.2vh;
}
}


*/










/*
footer{
display: flex;
align-items: flex-end;
width: 42vw;
height: 20vh;
margin-left: 6vw;
}


.contacts-footer{
display: flex;
justify-content: space-between;
align-items: flex-end;
text-align: center;
flex-wrap: wrap;
width: 100%;
height: 8vh;
}

.contact{
display: flex;
align-items: flex-end;
height: 8vh;
}

.contact img{
width: 100%;
height: 100%;
}
*/
